@model CIS152FinalProjectWiedmier.Models.PriorityQueue
@{
    Layout = null;
}

@*/**************************************************************
    * Name : PROGRAM NAME
    * Author: Mandy Wiedmier
    * Created : ##/##/2023
    * Course: CIS 152 - Data Structure
    * Version: 1.0
    * OS: Windows 11
    * IDE: Visual Studio 2019
    * Copyright : This is my own original work
    * based onspecifications issued by our instructor
    * Description : An app that .... ADD HERE....
    *            Input: ADD HERE XXX
    *            Ouput: ADD HERE XXX
    * Academic Honesty: I attest that this is my original work.
    * I have not used unauthorized source code, either modified or
    * unmodified. I have not given other fellow student(s) access
    * to my program.
    ***************************************************************/*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Lottery Numbers</title>
</head>
<body>
    <h1>Restaurant Reservations</h1>
    
</body>
</html>

